@{
    ViewBag.Title = "Home Page";
}

<div style="width:800px; margin:0 auto;">
    <form>
        <div class="row">
            <img src="~/Content/Images/img1.png" alt="Search Image" style="align-content:center;">
            <input class="form-control" type="search" placeholder="Enter your email...">
            <button class="btn btn-block btn-primary">Search!</button>
        </div>
        <div class="row">
            <div>
                <label>>Search Language  </label>
                <label class="radio-inline"><input type="radio" name="Language" checked>English</label>
                <label class="radio-inline"><input type="radio" name="Language">Arabic</label>
            </div>
            <div>
                <label>>Search Model    </label>
                <label class="radio-inline"><input type="radio" name="SearchModel" checked>Boolean Model</label>
                <label class="radio-inline"><input type="radio" name="SearchModel">Extend Boolean Model</label>
                <label class="radio-inline"><input type="radio" name="SearchModel">Vector space Model</label>
            </div>
        </div>
    </form>
</div>
        
