<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bahaa12-001-site1.htempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://bahaa12-001-site1.htempurl.com:8172/msdeploy.axd?site=bahaa12-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>bahaa12-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>bahaa12-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AIR_S19Entities1" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User ID=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321" Name="Data Source=SQL5046.site4now.net;MultipleActiveResultSets=true;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HW_AIR_S19.Models.AIR_S19Entities1, HW_AIR_S19" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AIR_S19Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User ID=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321" Name="Data Source=SQL5046.site4now.net;MultipleActiveResultSets=true;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-59CIT4P\SQLEXPRESS;Initial Catalog=AIR_S19;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AIR_S19Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.AIR_S19Model.csdl|res://*/Models.AIR_S19Model.ssdl|res://*/Models.AIR_S19Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-59CIT4P\SQLEXPRESS;initial catalog=AIR_S19;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AIR_S19" Order="3" Enabled="False">
          <Destination Path="Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User ID=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321" Name="Data Source=SQL5046.site4now.net;MultipleActiveResultSets=true;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-59CIT4P\SQLEXPRESS;Initial Catalog=AIR_S19;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AIR_S19_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source= DESKTOP-59CIT4P\SQLEXPRESS; Integrated Security=true;Initial Catalog= AIR_S19;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AIR_S19Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.AIR_S19Model.csdl|res://*/Models.AIR_S19Model.ssdl|res://*/Models.AIR_S19Model.msl;provider=System.Data.SqlClient;provider connection string="data source=SQL5046.site4now.net;multipleactiveresultsets=true;initial catalog=DB_A622A4_Bahaa12;user id=DB_A622A4_Bahaa12_admin;password=Bahaa.54321;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19-Web.config Connection String">
      <ParameterValue>Data Source=SQL5046.site4now.net;MultipleActiveResultSets=true;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19Entities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5046.site4now.net;MultipleActiveResultSets=true;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.AIR_S19Model.csdl|res://*/Models.AIR_S19Model.ssdl|res://*/Models.AIR_S19Model.msl;provider=System.Data.SqlClient;provider connection string="data source=SQL5046.site4now.net;initial catalog=DB_A622A4_Bahaa12;user id=DB_A622A4_Bahaa12_admin;password=Bahaa.54321;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19-Web.config Connection String">
      <ParameterValue>Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19Entities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19-Web.config Connection String">
      <ParameterValue>"Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19-Web.config Connection String">
      <ParameterValue>"Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.AIR_S19Model.csdl|res://*/Models.AIR_S19Model.ssdl|res://*/Models.AIR_S19Model.msl;provider=System.Data.SqlClient;provider connection string='"Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;"'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19Entities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string='"Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;"'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19-Web.config Connection String">
      <ParameterValue>"Provider=SQLOLEDB;Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19-Web.config Connection String">
      <ParameterValue>"Provider=SQLOLEDB;Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.AIR_S19Model.csdl|res://*/Models.AIR_S19Model.ssdl|res://*/Models.AIR_S19Model.msl;provider=System.Data.SqlClient;provider connection string='"metadata=res://*/Models.AIR_S19Model.csdl|res://*/Models.AIR_S19Model.ssdl|res://*/Models.AIR_S19Model.msl;provider=System.Data.SqlClient;provider connection string=Provider=SQLOLEDB;Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&amp;quot;"'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19-Web.config Connection String">
      <ParameterValue>"Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19Entities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string='"metadata=res://*/Models.AIR_S19Model.csdl|res://*/Models.AIR_S19Model.ssdl|res://*/Models.AIR_S19Model.msl;provider=System.Data.SqlClient;provider connection string=Provider=SQLOLEDB;Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&amp;quot;"'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19Entities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19-Web.config Connection String">
      <ParameterValue>"Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19Entities1-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19-Web.config Connection String">
      <ParameterValue>"Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19-Web.config Connection String">
      <ParameterValue>"Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.AIR_S19Model.csdl|res://*/Models.AIR_S19Model.ssdl|res://*/Models.AIR_S19Model.msl;provider=System.Data.SqlClient;provider connection string='"Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;"'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19-Web.config Connection String">
      <ParameterValue>"Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19Entities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string='"Data Source=SQL5046.site4now.net;Initial Catalog=DB_A622A4_Bahaa12;User Id=DB_A622A4_Bahaa12_admin;Password=Bahaa.54321;"'</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19-Web.config Connection String">
      <ParameterValue>Data Source=SQL5040.site4now.net;Initial Catalog= DB_A622A4_Bahaa12;User Id=bahaa12;Password=Bahaa.54321;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19Entities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19-Web.config Connection String">
      <ParameterValue>Data Source=SQL5040.site4now.net;Initial Catalog= DB_A622A4_Bahaa12;User Id=bahaa12;Password=Bahaa.54321;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19Entities1-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19-Web.config Connection String">
      <ParameterValue>Data Source=SQL5040.site4now.net;Initial Catalog= DB_A622A4_Bahaa12;User Id=bahaa12;Password=Bahaa.54321;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19-Web.config Connection String">
      <ParameterValue>Data Source=SQL5040.site4now.net;Initial Catalog= DB_A622A4_Bahaa12;User Id=bahaa12;Password=Bahaa.54321;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.AIR_S19Model.csdl|res://*/Models.AIR_S19Model.ssdl|res://*/Models.AIR_S19Model.msl;provider=System.Data.SqlClient;provider connection string="data source=SQL5040.site4now.net;initial catalog=DB_A622A4_Bahaa12;user id=bahaa12;password=Bahaa.54321;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19-Web.config Connection String">
      <ParameterValue>Data Source=SQL5040.site4now.net;Initial Catalog= DB_A622A4_Bahaa12;User Id=bahaa12;Password=Bahaa.54321;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AIR_S19Entities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5040.site4now.net;Initial Catalog= DB_A622A4_Bahaa12;User Id=bahaa12;Password=Bahaa.54321;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>